.brand {
	align-items     : center;
	display         : flex;
	flex-wrap       : wrap;
	justify-content : center;
}

.brand div {
	align-items     : center;
	display         : flex;
	flex            : 1;
	justify-content : center;
	margin          : 1.6rem;
	max-width       : 15rem;
	min-width       : 12rem;
}